<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Secundaria - Escuela de Educacion Tecnica N°1 </h1> - 
            <h3>(6 años)</h3></li>
            <p>Recibido de Tecnico Electromecanico en la escuela Tecnica de la ciudad de Palpala, Provincia de Jujuy.</p>
        </ul>
        <ul>
            <li><h1>Diplomatura Front End - (UNTDF-NEWSAN)</h1> - 
            <h3>(5 meses)</h3></li>
            <p>Durante el segundo semestre del año 2022 curse dicha diplomatura en la Universidad Nacional de Tierra del Fuego,a fin de año aprobe realizando dos proyectos. el 1ero usando HTML y CSS junto con una API. El 2do Proyecto se realizo utilizando Angular.</p>
        </ul>
        <ul>
            <li><h1>Ing Electronica</h1>  
            <h3>(7 años)</h3></li>
            <p>Despues de terminar la secundaria , inicie mis estudios Universitarios en TUCUMAN haciendo la carrera de ING Electronica. Termine mis estudios en Noviembre del año 2015 y actualmente trabajo en la fabrica NEWSAN S.A.</p>
        </ul>

    </div>

</div>
