<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Alberto Ruben Sarapura</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Hola a todos los que ven este resumen, soy Ing Electronico , actualmente siento curiosidad por la programacion de softwares y mi objetivo es poder obtener el mayor comprendimiento de estas herramientas de trabajo y poder complementar con mi otra pasion que es la electronica.Tengo por hobbie tocar la guitarra y jugar al futbol.Tambien realizar proyectos caseros sobre lo que conozco.         </p>    
        </span>
    </div>

</div>